<div class="footer">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-3 py-2">
        <div class="col mb-3">
            <h5>Contacto</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contacto y Ayuda</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Politica de cookies</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Opina y Gana</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Publicidad</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Quienes Somos</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Quienes somos</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Compromisos</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Nuestras Tiendas</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Nuestras Marcas</a></li>                
            </ul>
        </div>
        <div class="row pagos">
            <img  class="fondo" src="../../assets/images/pagos/paypal.png" alt="paypal" title="paypal" height="57px">
            <img src="../../assets/images/pagos/MasterCard_Logo.svg" alt="mastercard" title="mastercard">
            <img class="fondo" src="../../assets/images/pagos/visa-fondo.png" alt="visa" title="visa" height="81px">
            <img src="../../assets/images/pagos/Maestro_logo.png" alt="maestrocard" title="maestrocard">
        </div>
    </footer>

</div>
