<div class="footer">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-3 py-2">
        <div class="col mb-3">
            <p>Contacto</p>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/preguntas" class="nav-link p-0 text-body-secondary">Preguntas frecuentes</a></li>
                <li class="nav-item mb-2"><a href="/politicas" class="nav-link p-0 text-body-secondary">Politica de Privacidad</a></li>
                <li class="nav-item mb-2"><a href="/avisos" class="nav-link p-0 text-body-secondary">Avisos legales</a></li>
                <li class="nav-item mb-2"><a href="/cookies" class="nav-link p-0 text-body-secondary">Politicas de cookies</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <p>Políticas</p>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/preguntas" class="nav-link p-0 text-body-secondary">Preguntas frecuentes</a></li>
                <li class="nav-item mb-2"><a href="/politicas" class="nav-link p-0 text-body-secondary">Politica de Privacidad</a></li>
                <li class="nav-item mb-2"><a href="/avisos" class="nav-link p-0 text-body-secondary">Avisos legales</a></li>
                <li class="nav-item mb-2"><a href="/cookies" class="nav-link p-0 text-body-secondary">Politicas de cookies</a></li>             
            </ul>
        </div>
        <div class="row-pagos">
            <img  class="fondo" src="../../assets/images/pagos/paypal.png" alt="paypal" title="paypal" height="28.5px">
            <img src="../../assets/images/pagos/MasterCard_Logo.svg" alt="mastercard" title="mastercard">
            <img class="fondo" src="../../assets/images/pagos/visa-fondo.png" alt="visa" title="visa" height="40.5px">
            <img src="../../assets/images/pagos/Maestro_logo.png" alt="maestrocard" title="maestrocard">
        </div>
    </footer>

</div>
