<app-header></app-header>
<section class="avisos-legales">
    <h2>Avisos Legales</h2>
  
    <div class="avisos-item">
      <h2><span class="icon">📌</span> Condiciones de Uso</h2>
      <p>Al acceder y utilizar este sitio web, el usuario acepta cumplir con las siguientes condiciones: El acceso y uso de los contenidos de la página web está sujeto a las leyes y regulaciones aplicables. El usuario se compromete a no realizar ningún acto que pueda dañar, alterar o sobrecargar el funcionamiento del sitio.</p>
    </div>
  
    <div class="avisos-item">
      <h2><span class="icon">📌</span> Política de Privacidad</h2>
      <p>Recopilamos datos personales con el fin de mejorar su experiencia en nuestro sitio. Su privacidad es importante para nosotros, y nos comprometemos a protegerla de acuerdo con la legislación vigente.</p>
    </div>
  
    <div class="avisos-item">
      <h2><span class="icon">📌</span> Política de Cookies</h2>
      <p>Este sitio utiliza cookies para mejorar la navegación del usuario. Al utilizar nuestro sitio web, usted acepta el uso de cookies. Puede gestionar sus preferencias de cookies desde la configuración de su navegador.</p>
    </div>
  
    <div class="avisos-item">
      <h2><span class="icon">📌</span> Condiciones de Venta</h2>
      <p>Las compras realizadas en nuestra tienda online están sujetas a las siguientes condiciones: Precios, disponibilidad, impuestos, métodos de pago, y política de devoluciones. Todas las transacciones son procesadas de manera segura.</p>
    </div>
  
    <div class="avisos-item">
      <h2><span class="icon">📌</span> Exención de Responsabilidad</h2>
      <p>Nos esforzamos por ofrecer información precisa en nuestro sitio web, pero no nos responsabilizamos de errores u omisiones en los contenidos. Los productos pueden estar sujetos a cambios sin previo aviso. No somos responsables de los daños directos o indirectos que puedan surgir del uso de este sitio.</p>
    </div>
  
    <div class="avisos-item">
      <h2><span class="icon">📌</span> Propiedad Intelectual</h2>
      <br>
      <div class="propiedad-item">
        <h3> Imágenes Propias</h3>
        <p>Las imágenes creadas por FriendComponents son propiedad exclusiva de la misma y están protegidas por derechos de autor. Estas imágenes no pueden ser reproducidas, distribuidas ni utilizadas de ninguna forma sin el consentimiento expreso y por escrito de Javier López Alfaro, Javier Ruiz Gómez y Daniel Yi Chen Liu.</p>
      </div>
  
      <div class="propiedad-item">
        <h3>Imágenes con Licencia Creative Commons</h3>
        <p>Algunas de las imágenes que utilizamos en este sitio web están bajo licencias Creative Commons. Estas imágenes están sujetas a las condiciones de las licencias correspondientes, que pueden incluir la necesidad de dar atribución o compartir bajo la misma licencia. Consulta la fuente original de cada imagen para más detalles sobre la licencia específica en las páginas, que son Pixabay, Freepik y Flaticon.</p>
      </div>
  
      <div class="propiedad-item">
        <h3>Imágenes Suministradas por Terceros</h3>
        <p>Este sitio web también incluye imágenes proporcionadas por terceros proveedores. Dichas imágenes están protegidas por derechos de autor y son propiedad de sus respectivos titulares. Estas imágenes se utilizan de acuerdo con los acuerdos de licencia establecidos con los proveedores. No se permite su uso fuera de los términos acordados.</p>
      </div>
  
      <div class="propiedad-item">
        <h3>Productos</h3>
        <p>Los productos ofrecidos en nuestra tienda online pueden estar protegidos por derechos de propiedad intelectual, como marcas registradas o derechos de autor, que son propiedad de los titulares correspondientes. FriendComponents actúa como distribuidor autorizado de estos productos y no tiene derechos sobre las marcas o productos de terceros más allá de los establecidos en las condiciones de venta.</p>
      </div>
    </div>
  
    <div class="avisos-item">
      <h2><span class="icon">📌</span> Legislación Aplicable y Jurisdicción</h2>
      <p>Este contrato se regirá por las leyes de España y de la Unión Europea, y cualquier disputa relacionada con los mismos será resuelta en los tribunales de España.</p>
    </div>
  
    <p class="ultima-actualizacion">Última actualización: 19/02/2025</p>
  </section>
  