$primary-color: #3c8dbc;  // Color principal de la página
$secondary-color: #f4f4f4;  // Fondo claro
$accent-color: #ff6f61; // Color de acento (por ejemplo, para botones de eliminar)
$button-hover-color: darken($primary-color, 10%);
$font-family: 'Arial', sans-serif;

.carrito-container {
  margin-top: 5%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: $secondary-color;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: $font-family;

  h2 {
    text-align: center;
    font-size: 2rem;
    color: $primary-color;
    margin-bottom: 20px;
  }

  .producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .producto-info {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;

      span {
        font-size: 1rem;
        color: #333;
      }

      span:nth-child(2) {
        font-weight: bold;
        color: $primary-color;
      }
    }

    .producto-cantidad {
      display: flex;
      align-items: center;

      button {
        background-color: $primary-color;
        color: white;
        border: none;
        padding: 8px 12px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $button-hover-color;
        }

        &:focus {
          outline: none;
        }
      }

      span {
        margin: 0 10px;
        font-size: 1.2rem;
        color: #555;
      }
    }

    .eliminar {
      background-color: $accent-color;
      color: white;
      border: none;
      padding: 8px 12px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($accent-color, 10%);
      }

      &:focus {
        outline: none;
      }
    }
  }

  .total {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px;
    color: #333;

    h3 {
      color: $primary-color;
    }
  }

  .realizar-pedido {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: $primary-color;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;

    &:hover {
      background-color: $button-hover-color;
    }

    &:focus {
      outline: none;
    }
  }
}
