
<div class="carrito-container">
<div *ngFor="let producto of carrito; let i = index" class="producto">
  <div class="producto-info">
    <span>{{ producto.nombre }}</span>
    <span>{{ producto.precio | currency:'EUR' }}</span>
  </div>

  <div class="producto-cantidad">
    <button (click)="quitarUnidad(i)">-</button>
    <span>{{ producto.cantidad }}</span>
    <button (click)="agregarUnidad(i)">+</button>
  </div>

  <button class="eliminar" (click)="eliminarProducto(i)">Eliminar</button>
</div>

<div class="total">
  <h3>Total: {{ getTotal() | currency:'EUR' }}</h3>
</div>

<button class="realizar-pedido" (click)="realizarPedido()">Realizar Pedido</button>
</div>