<app-header></app-header>
<section class="politica-cookies">
    <h2><span class="icon">🍪</span> Política de Cookies</h2>
  
    <div class="politica-item">
      <h3><span class="icon">📌</span> ¿Qué son las cookies?</h3>
      <p>Las cookies son pequeños archivos de texto que se almacenan en su dispositivo al visitar nuestro sitio web. Son esenciales para mejorar su experiencia en la navegación, personalizar contenido y hacer seguimiento del uso de la página.</p>
    </div>
  
    <div class="politica-item">
      <h3><span class="icon">📌</span> Tipos de cookies que utilizamos</h3>
      <p>Este sitio web utiliza diferentes tipos de cookies para facilitar el acceso y la personalización del contenido. Las cookies pueden ser necesarias, de rendimiento, de funcionalidad o publicitarias.</p>
    </div>
  
    <div class="politica-item">
      <h3><span class="icon">📌</span> ¿Cómo gestionar sus cookies?</h3>
      <p>Al utilizar nuestro sitio, acepta el uso de cookies. Puede gestionar o deshabilitar las cookies desde la configuración de su navegador. Sin embargo, algunas funcionalidades del sitio pueden no funcionar correctamente si decide deshabilitarlas.</p>
    </div>
  
    <div class="politica-item">
      <h3><span class="icon">📌</span> ¿Por qué usamos cookies?</h3>
      <p>Las cookies nos permiten mejorar su experiencia de usuario, analizar el tráfico de nuestro sitio y proporcionarle contenido personalizado. Además, también nos ayudan a ofrecerle anuncios relevantes según sus intereses.</p>
    </div>
  
    <div class="politica-item">
      <h3><span class="icon">📌</span> Cambios en nuestra política de cookies</h3>
      <p>Podemos actualizar nuestra política de cookies para cumplir con nuevas regulaciones o mejorar nuestros servicios. Le recomendamos que revise esta política periódicamente para estar informado de cualquier cambio.</p>
    </div>
  
    <p class="ultima-actualizacion">Última actualización: 19/02/2025</p>
</section>
  