/* Contenedor principal */
$color-principal: #2F1893;

.wrapper {
  min-height: 100vh; // Asegura que ocupe el 90% de la altura de la ventana
  display: flex; // Activa el modelo flexbox
  justify-content: center; // Centra horizontalmente
  align-items: center; // Centra verticalmente
  flex-direction: column; // Opcional, si los elementos deben apilarse en columna
}


.container {
  margin-top: 2%;
  margin-bottom: 2%;
  display: grid;
  grid-template-columns: 300px 1fr; /* Sidebar y contenido principal */
  gap: 20px;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(123deg, #ffffff 0%, $color-principal 100%); /* Gradiente de colores */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sidebar */
.sidebar {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff; /* Asegúrate de que el texto sea visible */
}

.sidebar h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 5%;
  color: $color-principal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline solid 3px ;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list li {

  margin-bottom: 10px;
  position: relative;
  width: 50%;
  margin-right: 40%;
}

.category-list a {
  color: $color-principal;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: color 0.3s ease;

}

.category-list a:hover {
  color: #5f079e;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.category-list a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;  /* Comienza con el ancho en 0 */
  height: 2px;
  background-color: #5f079e;
  transition: width 0.5s ease; /* Cambiar scaleX a un cambio de ancho */
}

/* Establece el ancho al 100% al pasar el ratón */
.category-list a:hover::before {
  width: 100%; /* La línea se expandirá de izquierda a derecha */
}

/* Productos */
.products {
  padding: 20px;
}

.products h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color:  $color-principal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Card de producto */
.product-card {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  }
}

.product-card img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

.product-card:hover img {
  transform: scale(1.1);
}

.product-info {
  flex: 1;
}

.product-info h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
  font-weight: 600;
}

.product-info p {
  font-size: 14px;
  color: #666;
}

.price-rating {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
  margin-right:2px;

  img{
    width:16px;
    height: 16px;
  }
}

.price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinea verticalmente los elementos */
  gap: 10px; /* Añade espacio entre los elementos */
  margin: 10px 0;

  img {
    width: 16px;
    height: 16px;
  }
}


.btn {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  display: inline-block;
}

.btn.purchase {
  background-color: $color-principal;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #370074;
    transform: scale(1.05);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  }
}

.btn.add-to-bag {
  background-color: #ddd;
  color: #333;
  border: 1px solid #ccc;

  &:hover {
    background-color: #bbb;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

/* Efectos y animaciones */
.product-card img {
  transition: transform 0.4s ease-out;
}

.product-card:hover img {
  transform: scale(1.1);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.product-card {
  animation: fadeIn 0.6s ease-out;
}

