$color-principal: #2F1893;

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr; /* Sidebar y contenido principal */
  gap: 20px;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(123deg, #ffffff 0%, $color-principal 100%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%; /* Ajusta el ancho */
  margin: auto;

  @media (max-width: 768px) {
    margin-top: 2%;
    margin-bottom: 2%;
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    grid-template-rows: auto auto; /* Fila para categorías y productos */
  }
}

/* Sidebar */
.sidebar {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {
    grid-row: 1; /* Asegura que el sidebar esté en la primera fila */
    display: flex;
    flex-wrap: wrap; /* Permite que las categorías se ajusten en filas */
    justify-content: center;
    
  }
}

.sidebar h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 5%;
  color: $color-principal;
  font-weight: bold;
  text-transform: uppercase;  

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: 768px) {
    display: flex; /* Coloca las categorías en fila */
    flex-wrap: wrap; /* Permite que las categorías se ajusten */
  }
}

.category-list li {
  margin-bottom: 10px;
  position: relative;

  @media (max-width: 768px) {
    margin: 10px 5px; /* Ajusta el margen para pantallas pequeñas */
  }
}

.category-list a {
  color: $color-principal;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: color 0.3s ease;
  cursor: pointer;
  @media (max-width: 768px) {
    cursor: pointer;
    font-size: 0.8rem; /* Reduce el tamaño de fuente en pantallas pequeñas */
  }
}

.category-list a:hover {
  color:  #220e68;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.category-list a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;  /* Comienza con el ancho en 0 */
  height: 2px;
  background-color: #220e68;
  transition: width 0.5s ease; /* Cambiar scaleX a un cambio de ancho */
}

/* Establece el ancho al 100% al pasar el ratón */
.category-list a:hover::before {
  width: 40%; /* La línea se expandirá de izquierda a derecha */
}

/* Productos */
.products {
  padding: 10%;

  @media (max-width: 768px) {
    grid-row: 2; /* Asegura que los productos estén en la segunda fila */
  }
}

.products h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: $color-principal;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (max-width: 768px) {
    text-align: center;
    font-size: 1.8em; /* Ajusta el tamaño de fuente para pantallas pequeñas */
  }
}

/* Card de producto */
.product-card {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
  }
}

.product-card img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

.product-card:hover img {
  transform: scale(1.1);
}

.product-info {
  flex: 1;
}

.product-info h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
  font-weight: 600;
}

.product-info p {
  font-size: 14px;
  color: #666;
}

.price-rating {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
  margin-right:2px;

  img{
    width:16px;
    height: 16px;
  }
}

.price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinea verticalmente los elementos */
  gap: 10px; /* Añade espacio entre los elementos */
  margin: 10px 0;

  img {
    width: 16px;
    height: 16px;
  }
}


.btn {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  display: inline-block;
}

.btn.purchase {
  background-color: $color-principal;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #220e68;
    transform: scale(1.02);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
  }
}

.btn.add-to-bag {
  background-color: #ddd;
  color: #333;
  border: 1px solid #ccc;

  &:hover {
    background-color: #bbb;
    transform: scale(1.02);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
      margin-top: 3%;
      font-size: 0.8rem;
  }
}

/* Efectos y animaciones */
.product-card img {
  transition: transform 0.4s ease-out;
}

.product-card:hover img {
  transform: scale(1.1);
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.product-card {
  animation: fadeIn 0.6s ease-out;
}

