<div class="wrapper">
  <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <h2>Categorías</h2>
      <ul class="category-list">
        <li *ngFor="let categoria of data">
          <a (click)="seleccionarCategoria(categoria.nombre)">{{ categoria.nombre }}</a>
        </li>
      </ul>
    </aside>

    <!-- Sección de productos -->
    <section class="products">
      <h1>{{ categoriaSeleccionada }}</h1>
      <div *ngFor="let categoria of data">
        <div *ngIf="categoria.nombre === categoriaSeleccionada">
          <div *ngFor="let producto of productos" class="product-card">
            <img [src]="producto.imagen" alt="{{ producto.nombre }}">
            <div class="product-info">
              <h3>{{ producto.nombre }}</h3>
              <p>{{ producto.descripcion }}</p>
              <div class="price-rating">
                <span class="price">{{ producto.precio | currency:'EUR' }}</span>
                <span class="rating">{{ producto.valoracion }}<img src="../../assets/images/estrella.png"
                    alt="estrella" /> </span>
              </div>
              <button class="btn purchase">Comprar</button>
              <button class="btn add-to-bag">Añadir al Carrito</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>