<div class="product-details">
  <div class="product-container">
    <div class="product-image">
      <img [src]="producto.imagen" alt="{{ producto.nombre }}" title="{{producto.nombre}}"/>
    </div>
    <div class="product-info">
      <h2>{{ producto.nombre }}</h2>
      <p class="description">{{ producto.descripcion }}</p>
      <p class="price"><strong>Precio:</strong> {{ producto.precio | currency:'EUR' }}</p>
      <p class="rating">
        <strong>Valoración: {{ producto.valoracion }}</strong> 
        <img src="../../assets/images/estrella.png" alt="estrella" title="estrella"/>
      </p>
      <div class="actions">
        <button class="btn add-to-cart" (click)="agregarAlCarrito()">Añadir al Carrito</button>
      </div>
    </div>
  </div>

  <!-- Sección de Foros -->
  <div class="forum-section">
    <h2>Opiniones de Usuarios</h2>
    <div class="forum-post" *ngFor="let comentario of comentarios">
      <p class="comment-text">{{ comentario.mensaje }}</p>
      <div class="comment-meta">
        <span class="comment-author">Por: {{ comentario.persona }}</span>
        <span class="comment-date">Fecha: {{ comentario.fecha }}</span>
        <span class="comment-rating"><strong> Nota: {{ comentario.nota }} </strong>
          <img src="../../assets/images/estrella.png" alt="estrella" title="estrella"/>
        </span>
      </div>
    </div>
    <!-- Formulario para agregar comentario -->
    <form [formGroup]="comentarioForm" (ngSubmit)="agregarComentario()">
      <div class="form-group">
        <label for="nota">Nombre:</label>
        <input type="text" formControlName="persona" placeholder="Tu nombre" required>
        <div *ngIf="comentarioForm.get('persona')?.touched && comentarioForm.get('persona')?.invalid" class="error">
          <small *ngIf="comentarioForm.get('persona')?.errors?.['required']">El nombre es obligatorio.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="nota">Comentario:</label>
        <textarea formControlName="mensaje" placeholder="Comentario" required></textarea>
        <div *ngIf="comentarioForm.get('mensaje')?.touched && comentarioForm.get('mensaje')?.invalid" class="error">
          <small *ngIf="comentarioForm.get('mensaje')?.errors?.['required']">El comentario es obligatorio.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="nota">Valoración:</label>
        <select formControlName="nota" id="nota" required>
          <option *ngFor="let i of [1, 2, 3, 4, 5]" [value]="i">{{ i }}</option>
        </select>
        <div *ngIf="comentarioForm.get('nota')?.touched && comentarioForm.get('nota')?.invalid" class="error">
          <small *ngIf="comentarioForm.get('nota')?.errors?.['required']">La valoración es obligatoria.</small>
        </div>
      </div>

      <button type="submit" [disabled]="comentarioForm.invalid">Enviar Opinión</button>
    </form>
  </div>
</div>
