$color-principal: #2F1893;
$color-secundario: #4b0082;
$color-fondo: #f8f6f6;
$color-texto: #333;
$fuente: Verdana, Geneva, Tahoma, sans-serif;

.wrapper {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1%;
}

.introduction {
  margin-top: 4%;
}

.titulo {
  font-family: $fuente;
  font-size: 2.5rem;
  color: $color-principal;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.informacion {
  font-family: $fuente;
  font-size: 1.2rem;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  color: $color-texto;
}

/* Estilos para la sección 'Sobre Nosotros' */
.sobre-nosotros {
  background-color: #ffffff;
  padding: 3rem 2rem;
  margin-top: 2%;
  border-radius: 10px;
}

.seccion-titulo {
  font-family: $fuente;
  font-size: 2.3rem;
  color: $color-principal;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

.sobre-nosotros p {
  font-family: $fuente;
  font-size: 1.2rem;
  color: $color-texto;
  width:60%;
  margin-left: 20%;
  text-align: justify;
  line-height: 1.6;
}

.titulo-categorias{
  font-family: $fuente;
  font-size: 2.3rem;
  color: $color-principal;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
}

.categorias-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 7rem;
  /* Ajuste para espaciamiento */
  padding: 3%;
  /* Reduzco el padding para mayor flexibilidad */

}


.categoria {
  background: linear-gradient(145deg, #ffffff, #f8f6f6);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.categoria:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.categoria .imagen {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.categoria .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.categoria:hover .imagen img {
  transform: scale(1.1);
}

.categoria-nombre {
  margin-top: 1%;
  font-size: 1rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: color 0.3s ease, transform 0.3s ease;
}

.categoria-nombre:hover {
  color: #4b0082;
  transform: translateY(-1px);
}

.categoria a {
  text-decoration: none;
  color: inherit;
}

.cookie-modal {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  .cookie-content {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
      margin-bottom: 15px;
    }

    .cookie-buttons {
      display: flex;
      justify-content: space-between;

      button {
        background: #ff8c00;
        border: none;
        padding: 10px 20px;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 5px;
        margin: 5px;
      }

      button:last-child {
        background: red;
      }
    }
  }
}



@media (max-width: 1200px) {
  .categorias-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .categorias-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .categorias-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.5rem;
  }
}

@media (max-width: 375px) {
  .titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: #2F1893;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }

  .seccion-titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: #2F1893;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
  }
}