.categorias-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 categorías por fila
    gap: 20px; // Espacio entre las categorías
    padding: 20px;
  
    .categoria {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 0.3s;
  
      &:hover {
        transform: scale(1.05);
      }
  
      .imagen {
        width: 70%; // Anchura fija para las imágenes
        height: 70%; // Altura fija para las imágenes
        overflow: hidden; // Ocultar partes sobrantes si la imagen no es cuadrada
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5%;
  
        img {
          width: 100%; // Ajustar al ancho del contenedor
          height: 100%; // Ajustar al alto del contenedor
          object-fit: cover; // Asegurar que la imagen se recorte proporcionalmente si es necesario
        }
      }
  
      .categoria-nombre {
        font-size: 14px;
        font-weight: bold;
        color: #333;
        margin-top: 10px; // Espacio entre la imagen y el texto
      }
    }
  }
  