<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../../assets/images/logoFC.jpg" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
  

            <div class="form-group">
                <label for="nombre">Nombre de usuario:</label> <br>
                <input type="text" name="nombre" id="nombre" placeholder="Inserte nombre">
            </div>

            <div class="form-group">
                <label for="email">Correo electrónico</label><br>
                <input type="email" name="email" id="email" placeholder="Inserte correo">
            </div>

            <div class="form-group">
                <label for="contraseña">Contraseña</label> <br>
                <input type="password" name="contra" id="contra" placeholder="Inserte contraseña">
            </div>
  
            <div class="form-group">
                <input type="button" value="CONFIRMAR">
            </div>
                <a href="/registro">REGISTRARSE...</a>
          </form>
        </div>
      </div>
    </div>

  </section>