<div class="form-container register">
    <h2>Registrarse</h2>
    <form>
      <div class="form-group">
        <input type="text" name="name" placeholder="Nombre completo" required>
      </div>
      <div class="form-group">
        <input type="email" name="email" placeholder="Correo electrónico" required>
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Contraseña" required>
      </div>
      <div class="form-group">
        <input type="password" name="confirmPassword" placeholder="Confirmar contraseña" required>
      </div>
      <button type="submit">Registrarse</button>
    </form>
    <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión aquí</a></p>
  </div>
  